* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

nav ul li a {
  margin-top: 60px;
  display: flex;
  font-size: 21px;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color:  white;
  font-family: "Inconsolata", monospace;
}

.capsule {
  padding-right: 130px;
  padding-left: 60px;
  padding-bottom: 20px;
}



li {
  list-style: none;
  font-size: 15px;
  display: inline-block;
  padding: 10px;
  align-items: flex-end;
}

header {
  background: rgb(100,111,212);
  background: radial-gradient(circle, rgba(100,111,212,0.6110819327731092) 18%, rgba(100,111,212,1) 71%);
}

a {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
  font-family: "Inconsolata", monospace;
  justify-items: end;
}

body {
  background-color: white;
  color: black;
  overflow-x: hidden;
  width: 100%;
  justify-content: center;
}

h2, h3 {
  color: #646FD4;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 1;
  font-family: "Inconsolata", monospace;
  justify-content: center;
}

.texto{
  font-size: 10px;
}



.grid {
  grid-template-areas: "body body body" "body body body";
  display: grid;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 3repeat 1fr;
  background-color: white;
  width: 100%;
  height: 100vh;
  gap: 10px;
  padding-left: 80px;
}

.noticias{
  width: 410px;
  text-align: center;
  background-color: #646FD4;
  color: whitesmoke;
  display: inline-table;
  margin: 15px;
  
}


/***********Animaciones/transiciones/efectos*************/


.redes {
	-webkit-animation: redes 1.5s ease-in-out infinite both;
	        animation: redes 1.5s ease-in-out infinite both;
}

@-webkit-keyframes redes {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes redes {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


ul a:hover {
  -webkit-animation: a 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: a 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


@-webkit-keyframes a {
  0% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateX(-15px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes a {
  0% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateX(-10px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
.lab:hover {
  -webkit-animation: lab 10s linear both;
  animation: lab 10s linear both;
}

@-webkit-keyframes lab {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.1) translateY(-15px);
    transform-origin: top;
  }
}
@keyframes lab {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.1) translateY(-15px);
    webkit-transform-origin: top;
    transform-origin: top;
  }


/*********noticias**********/



}
footer {
  background: rgb(210, 191, 214);
  background: linear-gradient(0deg, rgba(69, 24, 90, 0.63) 24%,  #646FD4 68%);
  padding: 5px;
}

.redesSociales {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: large;
  color: black;
  text-decoration: none;
}

.pie {
  display: flex;
  color: black;
  font-size: 30px;
  justify-content: space-between;
  
}/*# sourceMappingURL=style.css.map */

.nosoTros{
  display: flex;
  justify-content: space-between;
}

p.texto{
  padding-top: 15px;
  padding-left: 15px;
  font-size: 17px;
}
.container {  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.25fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100%; 
  height: 100%; 
  color: black;
  align-content: center;
  justify-content: stretch;
  grid-template-areas: 
    "alpraZolam n1 des1 c1"
    "carbaMazepina n2 des2 c2"
    "clonaZepam n3 des3 c3"
    "dicloFenac75 n4 des4 c4"
    "dicloFenac75mas n5 des5 c5"
    "difenhiDramina n6 dess6 c6"
    "lidoCaina n7 des7 c7"
    "pantoPrazol n8 des8 c8"
    "salButamol n9 des9 c9"
    "sucralFato n10 des10 c10"
    "sulfaDiazina n11 des11 c11";
}

.alpraZolam { grid-area: alpraZolam; }

.carbaMazepina { grid-area: carbaMazepina; }

.clonaZepam { grid-area: clonaZepam; }

.dicloFenac75 { grid-area: dicloFenac75; }

.dicloFenac75mas { grid-area: dicloFenac75mas; }

.difenhiDramina { grid-area: difenhiDramina; }

.lidoCaina { grid-area: lidoCaina; }

.pantoPrazol { grid-area: pantoPrazol; }

.salButamol { grid-area: salButamol; }

.sucralFato { grid-area: sucralFato; }

.sulfaDiazina { grid-area: sulfaDiazina; }

.n1 { grid-area: n1; }

.n2 { grid-area: n2; }

.n3 { grid-area: n3; }

.n4 { grid-area: n4; }

.n5 { grid-area: n5; }

.n6 { grid-area: n6; }

.n7 { grid-area: n7; }

.n8 { grid-area: n8; }

.n9 { grid-area: n9; }

.n10 { grid-area: n10; }

.n11 { grid-area: n11; }

.des1 { grid-area: des1; }

.des2 { grid-area: des2; }

.des3 { grid-area: des3; }

.des4 { grid-area: des4; }

.des5 { grid-area: des5; }

.dess6 { grid-area: dess6; }

.des7 { grid-area: des7; }

.des8 { grid-area: des8; }

.des9 { grid-area: des9; }

.des10 { grid-area: des10; }

.des11 { grid-area: des11; }

.c1 { grid-area: c1; }

.c2 { grid-area: c2; }

.c3 { grid-area: c3; }

.c4 { grid-area: c4; }

.c5 { grid-area: c5; }

.c6 { grid-area: c6; }

.c7 { grid-area: c7; }

.c8 { grid-area: c8; }

.c9 { grid-area: c9; }

.c10 { grid-area: c10; }

.c11 { grid-area: c11; }

.n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9, .n10, .n11{
  display: grid;
  text-align: center;
  font-size: larger;
  text-decoration: bold;
  
  
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 34%,  #646FD4 90%);

}

.des1, .des2, .des3, .des3, .des4, .des5, .dess6, .des7, .des8, .des9, .des10, .des11{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 34%,  #646FD4 90%);
  text-align: center;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 34%,  #646FD4 90%);
}

@media screen and (max-width:760px ) {
  
  .grillaGeneral{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header   header"
    "carrusel carrusel"
    "footer   footer"

  }

}

header{
  grid-area: header;
}

.carrusel{
  grid-area: carrusel;
}

footer{
  grid-area: footer;
}

body{
  grid-area: body;
}


@media screen and (max-width:520px ) {
  
  .grillaGeneral{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas: 
    "header"
    "body"
    "footer"
    

  }
}
@media screen and (max-width:600px ) {
  
  body{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-areas: 
    "header"
    "body"
    "footer"

  }

}

@media screen and (max-width:730px ) {
  
  body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header   header"
    "carrusel carrusel"
    "footer   footer"

  }

}

@media screen and (max-width:800px ) {
  
  body{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-areas: 
    "header"
    "body"
    "footer"

  }

}

@media screen and (max-width:400px ) {
  
  body{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-areas: 
    "header"
    "carrusel"
    "footer"

  }

}



  
