a:hover {
    -webkit-animation: a 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: a 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes a {
    0% {
      transform: translateX(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateX(-15px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes a {
    0% {
      transform: translateX(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateX(-10px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  .lab:hover {
    -webkit-animation: lab 10s linear both;
    animation: lab 10s linear both;
  }
  
  @-webkit-keyframes lab {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    100% {
      transform: scale(1.1) translateY(-15px);
      transform-origin: top;
    }
  }
  @keyframes lab {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    100% {
      transform: scale(1.1) translateY(-15px);
      webkit-transform-origin: top;
      transform-origin: top;
    }
}