footer {
    background-color: $fondo-principal;
    padding: 15px;
  }
  
  .redesSociales {
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: large;
    color: black;
    text-decoration: none;
  }
  .pie {
    display: flex;
    font-size: 30px;
    color: $fuente-color;
    justify-content: space-between }

  