footer {
  background: rgb(26,138,255);
  background: linear-gradient(0deg, rgba(26,138,255,1) 24%, rgba(206,206,206,0.958420868347339) 50%, rgba(26,138,255,1) 81%);
  padding: 20px;
}
  
  .redesSociales {
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: large;
    color: black;
    text-decoration: none;
  }
  .pie {
    display: flex;
    font-size: 30px;
    color: $fuente-color;
    justify-content: space-between }

  